@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-inter: 'Inter', system-ui, sans-serif;
  }

  * {
    @apply border-dark-800;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-dark-950 text-light-50;
    font-family: var(--font-inter);
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
